/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Estilo da Pagina começa desse ponto. */

.header {
	display: flex;
	margin-top: -1px;
	margin-bottom: 10px;
	background-color: rgba(63, 63, 63, 0.8);
	width: 100%;
	height: 75px;
}

.logo {
	width: 360px;
	height: 75px;
	margin-left: 10px;
}

.logo-img{
	margin-top: 15px;
	margin-left: 15px;
	width: 320px;
}

.menubar {
	display: inline;
	width: 100%;
	height: 50%;
	margin-top: 10px;
	margin-left: 100px;
		
}

.button_menubar {	
	margin:20px;
	font-family: 'Black Ops One', cursive ;
}

.button_menubar:link, .button_menubar:visited {
	background-color:rgba(63, 63, 63, 0.3);
	color: rgb(196, 6, 6);
	
	border: 1px solid #FFD42A;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  }
  
.button_menubar:hover, .button_menubar:active {
	background-color: #FFD42A;
	color: rgba(63, 63, 63);
  }
	

section{
	background-color: rgba(255, 255, 255, 0.8);
	
}

body {		
	background-image: url(../images/vialactea.jpg);
	background-attachment: fixed;
}

section{
	margin-left: 100px;
	margin-right: 100px;
}

.container{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 30px;
	
	
}

.programando_net {
	padding-top: 25px;
	padding-bottom: 25px;
	
}

h1 {
	color: rgb(0, 0, 0);
	font-family: 'Black Ops One', cursive;
	font-size: 30pt;
	text-align: center;
	
		
}

h2{
	color: rgb(0, 0, 0);
	font-family:'Times New Roman', Times, serif;
	font-size: 24pt;
	margin-bottom: 25px;	
}

p {
	color: rgb(0, 0, 0);
	font-family:'Times New Roman', Times, serif;
	font-size: 18px;

}

.image_html {
	margin-left:0px;
}

.image_html_png {
	width: 250px;
	height: 180px;
}

footer {	
	background-color: rgba(63, 63 , 63, 0.8);
	color: white;
	text-align: center;
	height: 50px;
	
}