<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">  
    <link rel="stylesheet" type = "text/CSS" href = "../css/style.css" />
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <a href='../index.html' title="Programando.Net">
                    <img class="logo-img" src="/images/logo_sem_fundo.png" alt="Programando.Net">
                </a>
            </div>

            <div class="menubar">
                <a class="button_menubar" href="html.html">HTML</a>
                <a class="button_menubar" href="css.html">CSS</a>
                <a class="button_menubar" href="javascript.html">JavaScript</a>
                <a class="button_menubar" href="python.html">Python</a>
                

            </div>            

    </header>
    <section>
        <center>       
            <div class='container'>
                <h1>Programando.Net</h1>

                <h2>História do CSS ou "Cascading Style Sheets"</h2>
                
            </div>
        </center> 
        
    </section>  
    
    <footer>
        Rodapé da Página
    </footer>

</body>
</html>